*{
    background-color: black;
}
.heading{
    color: rgb(255, 255, 255);
   display: flex;
   margin-left: 3rem;
   cursor: pointer;
}
.heading h1 {
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    margin-top: 10px;
}

.heading ul {
    color: #ffffff;
display: flex;
list-style-type: none;
margin-left: 4rem;
margin-top:-0.1px;
font-size: large;
    margin-bottom: 0px;
    
}
.heading ul li {
   margin: 20px;
    
}
.heading ul li:hover {
   
 /* align-items: center;
    background: #0000;
    border: none;
    color: var(--header-color-text);
    cursor: pointer;
    display: flex;
    height: 40px;
   
    margin: 12px ;
    outline: none;
    overflow: visible;
    padding:0px 0px; */
    background: gray;
    border-radius: 5px;
    cursor: pointer;
   

}
.heading input{
    color: rgb(0, 0, 0);
    height: 35px;
    width: 20rem;
    margin-left: 3rem;
    margin-top: 10px;
    border-radius: 35px;
    border-style: none;
    background-color: grey;
    box-sizing: border-box;
    
    
}
 ::placeholder{
    color: #ffffff;
    text-indent: 35px;
   font-size: medium;
    font-size: medium;
    text-size-adjust: 2rem;
}
.middle h1{
    color: #ffffff;
    margin-left: 48px;
    margin-top: -1rem;
    cursor: pointer;
}
.middlenav ul {
color: #ffffff;
display: flex;
list-style-type: none;
margin-left: 1rem;
margin-top: 3rem;

}
.middlenav ul li {
    
    font-size: medium;
    font-feature-settings: "tnum" on, "lnum" on;
    font-size: var;
    font-style: normal;
    font-weight: 600;
    font-size:larger;
    margin-right: 10rem;
    padding: 3px;
}
.middlenav ul li:last-child {
    margin-right: 0; /* Remove margin from the last list item */
}
.middlenav nav ul li:hover{
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;
    
}
.horizontal-line {
    border-bottom: 3px solid #ccc; /* Horizontal line styling */
   margin-bottom: 1rem;
   margin-top:-0.7px;
  
}
.icong{
    margin-left: 80rem;
   margin-bottom: 0px;
   margin-top: -1px;
   font-size: 27px;
}
.icongit{
    margin-left: 82.5rem;
    margin-top: -2.1rem;
    font-size: 25px;
    color: #ffffff;
}
.iconinsta{
    margin-left: 1240px;
    margin-top: -1.8rem;
    font-size: 25px;
    color: #db46cf;
}
.iconface{
    margin-left: 1195px;
    margin-top: -1.9rem;
    font-size: 25px;
    color: #1404fd;
}